table {
  margin-left:500px;
  border:solid  3px rgb(17, 25, 53) ;
  font-size: 16px;
  background-color: rgba(97, 102, 95, 0.514);
  width: 800px ;
  height: 200px;
  text-align: center;
}
th{
  background-color: rgb(0, 0, 0);
  color: white;

}
button{
  margin-left: 15px;
}
 td {
   font-size: 14px;
 }
