/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
<<<<<<< HEAD
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: rgb(151, 146, 146); }
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 0a3bf790c64dd2ee8dcf82a124e21e4b5f5052f5


